{% extends "./base.html" %}

{% block title%} Autores{% endblock %}

{% block body%}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Listado de Autores</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarAutor/" method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtAutor" name="txtAutor" class="form-control" placeholder="Nombre Autor" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Autor</th>
                        <th>Activos</th>
                        <th>Actualizacion</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in autor%}
                    <tr>
                        <td>{{a.idAutor}}</td>
                        <td>{{a.NombreAutor}}</td>
                        <td>{{a.activoAutor}}</td>
                        <td>{{a.actualizaAutor}}</td>
                        <td><a href="EdicionAutor/{{a.idAutor}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarAutor/{{a.idAutor}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}