{% extends "./base.html" %}

{% block title%}Editar Autores{% endblock %}

{% block body%}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Editar Editorial</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/EditarEditorial/{{editoriales.idEditorial}}" method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtidEditorial" name="txtidEditorial" class="form-control"  value="{{editoriales.idEditorial}}" placeholder="Codigo" disabled>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="txtEditorial" name="txtEditorial" class="form-control"  value="{{editoriales.NombreEditorial}}" placeholder="Editorial" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <select class="form-select" aria-label="Default select example" id="txtActivo" name="txtActivo">
                                <option selected>Activo</option>
                                <option value="True">Activo</option>
                                <option value="False">Desactivado</option>
                              </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Editar</button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}